:root{
    margin: 0;
    padding: 0;
    z-index: 0;
}

body{
    background-color: #090909;
    display: block;

}
p, h1, h3, h4, nav{
    color: white;

}
ul{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    backdrop-filter: blur(10px);

}
img{
    width: 50%;
   
}
.side_pic {
    filter: grayscale(80%);
}

#home-grid{
    display: grid;
}

.content_section {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin-bottom: 20px;
}
.side_pic{
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
}
.side_logo{
    height: 100%;
    width: 100%; 
    border-radius: 10%;
}
h3{
    text-align: center;
    border: #888 / 20px;
    border-style: solid;
    border-radius: 5px;
    width: 70%;
    align-content: center;
    margin-inline: auto;
}


#hero-container{
    max-width: 100%;
    height: 400px;
    background-color: white;
    position: relative;
    background-size:cover;
    background-position: 10px;
    background-image: url("../images/hero.png");
    text-align: center;
    align-content: center;
    font-size: 70px;
    text-shadow: 10px 10px #888;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-inline: auto;
    gap: 5px;
    margin-bottom: 20px;


}
label{
    color: white;
    margin-top: 10px;

}

.heroimage {
    margin: 0 5%;
    position: relative;
    max-width: 90%;
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#menu ul{
    display: flex;
    list-style: none;
    top: 0;
    background-color: rgb(220 220 220 / 0.5);
    z-index: 1;
    backdrop-filter: blur(20px);

}
.navlink{
    color: white;
    text-decoration: none;
}
.navimage{
    border-radius: 50%;
    width: 30%;
}

#menu span{
    display: block;




}

#menu a{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5px;


}
footer{
    text-align: center;
}
.section_text{
    text-align: center;
    align-items: center;
}